<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/nav") %>
    <div class="container mb-3">
      <div class="jumbotron">
        <h1>MY WEBSITE</h1>
        <p>testing</p>
      </div>
    </div>
  </body>
</html>
